[gcode_macro PRINT_START]
# For setting the parameters as persistent variables so they can be referenced in PRINT_START2
variable_bedtemp: 0
variable_hotendtemp: 0
variable_chambertemp: 0
; gcode parameters for area bed mesh
variable_parameter_AREA_START : 0,0
variable_parameter_AREA_END : 0,0
gcode:      
    # Parameters
    {% set bed = params.BED|int %}
    {% set hotend = params.HOTEND|int %}
    {% set chamber = params.CHAMBER|default(0)|int %}
    {% set area_start = params.AREA_START|default("0,0") %} 
    {% set area_end = params.AREA_END|default("0,0") %}

    # Set the parameters as persistent variables so they can be referenced outside of the macro (in PRINT_END)
    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=bedtemp VALUE={bed}   
    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=hotendtemp VALUE={hotend} 
    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=chambertemp VALUE={chamber}   

    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0                                   ; disable filament sensor
    RESETSPEEDS                                                                          ; reset speed, accel etc to configured values
    ERCF_RESET_STATS                                                                     ; reset ERCF stats
    M104 S140                                                                            ; set hotend to no-ooze temp
    M140 S{bed}                                                                          ; set bed to target temp
    status_homing
    G28                                                                                  ; home
    G90                                                                                  ; absolute positioning
    status_heating
    {% if printer["temperature_sensor chamber"].temperature < chamber %}                 ; - if chamber is not at temp yet:
        HEATSOAK T={bed} MOVE=1                                                          ;   heatsoak macro + park in center
        M190 S{bed}                                                                      ;   wait for bed final temp
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={chamber}           ;   wait for chamber final temp
    {% else %}                                                                           ; - if chamber is already at temp:
        {% if printer.heater_bed.temperature < (bed-2) %}                                ; -- but bed is not fully heated (within 2C):
            HEATSOAK T={bed} MOVE=1                                                      ;       heatsoak and park
            M190 S{bed}                                                                  ;       wait for bed final temp
        {% else %}                                                                       ; -- and bed is already heated:
            HEATSOAK T={bed} MOVE=0                                                      ;       "heatsoak" without parking (only still calling this because it does some other things like turn off exahaust fan)
        {% endif %}
    {% endif %} 
    M106 S0                                                                              ; turn off part cooling fan (from heatsoak)
    BED_MESH_CLEAR                                                                       ; clear bed mesh
    QUAD_GANTRY_LEVEL                                                                    ; quad gantry level
    G28 Z                                                                                ; home z
    G90                                                                                  ; absolute positioning
    G0 Z20                                                                               ; hop up to prevent knocking probe off after homing Z
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} F19500  ; move to center of bed to prevent knocking probe off after homing Z (otherwise QGL just moves our Z hop down again before traveling)
    BED_MESH_CALIBRATE                                                                   ; mesh
    G28 Z                                                                                ; home z again
    G0 Z20                                                                               ; hop up to prevent knocking probe off after homing Z
    G0 X200 Z10 Y{printer.toolhead.axis_maximum.y} F19500                                ; move to left of nozzle brush
    M109 S{hotend}                                                                       ; set & wait for hotend final temp
    G4 P60000                                                                            ; wait 1 minute for the hotend to ooze to empty
    CLEANNOZZLE                                                                          ; clean nozzle while hot
    TEMPADJUSTPA                                                                         ; change PA based on bed temp
    G92 E0                                                                               ; reset Extruder

# PRINT_START_2 to be called after filament load
[gcode_macro PRINT_START_2]
gcode:   
    PURGENOZZLE
    CLEANNOZZLE
    SWIPENOZZLE                                                                          ; swipe nozzle brush on way to print purge line
    G92 E0                                                                               ; reset Extruder
    ADAPTIVE_PURGE
    G1 Z2.0 F3000                                                                        ; move Z Axis up
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1                                   ; enable filament sensor
    status_printing